.Predictor {
  text-align: center;
  width: 100vw;
  /* background-color: aqua; */
  background-image: url("../assets/img/bg_mod.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 5vw;
  z-index: 15;
}

.Box {
  text-align: center;
  /* margin: 15vw; */

  /* margin: 50px; */
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 18px;
  /* backface-visibility: visible; */
  /* opacity: 0.2; */
  z-index: 20;
}

.Predictor h1 {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  /* width: auto;
  height: auto; */
  margin: 20px;
  margin-top: 20px;
  /* padding: 20px; */
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 25;
}

label {
  margin-bottom: 15px;
}
input {
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 20px;
}

.Predictor button {
  padding: 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.Predictor button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.Predictor label {
  margin-bottom: 8px;
  color: #fff;
  text-align: left;
}

.Predictor input {
  padding: 8px;
  margin-bottom: 16px;
  background: transparent;
  color: #fff;
  text-align: center;
  opacity: 1;
}
.Predictor p {
  margin-top: 16px;
  font-size: 16px;
  color: #f9f5f5;
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
